registry=${NPM_REGISTRY_URL}
@meshva:registry=${NPM_REGISTRY_URL}
always-auth=true
strict-ssl=true
engine-strict=true
prefer-offline=true
fetch-retries=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
